h1 {
    font-size: 50px;
    color: rgba(255, 247, 205, 0.888);
    font-style: italic;
    background-color: black;
    text-align: center; /* I checked how to center the text*/
}

#moreInfo {
    color: green;

}

/* 3 classes matching with the list color*/
#jupiter {
    color: brown;
}

#saturn {
    color: blue;
}

#uranus {
    color: red;
}